<tr>
	<td>
		<%= articulo.codigo %>
	</td>
	<td>
		<%= articulo.desc %>
	</td>
	<td>
		<%= articulo.precio %>
	</td>
	<td>
		<%= articulo.proveedor %>
	</td>
	<td>
		<%= articulo.listum_id %>
	</td>
	<td>
		<%= articulo.rubro %>
	</td>
	<td>
		<%= articulo.fecha_precio %>
	</td>
</tr>

