<tr>
	<td>
		<%= articulo.codigo %>
	</td>
	<td>
		<%= articulo.desc %>
	</td>
	<td>
		<%= articulo.precio %>
	</td>
	<td>
		<%= articulo.listum.proveedor.nombre %>
	</td>
	<td>
		<%= articulo.listum_id %>
	</td>
	<td>
		<%= articulo.rubro %>
	</td>
	<td>
		<%= articulo.listum.fecha_precio.strftime('%Y/%m') %>
	</td>
</tr>

