<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <h4>
    Subir una lista
  </h4>
	<%= form_tag({action: :import_excel}, multipart: true, id: 'upform') do %>
	<div class="cargador">
		
	  <%= file_field_tag "file", class: "ui pink-button" %>	
	  <%= select_tag :lista, options_from_collection_for_select(@listas, :id, :nombre), 
        class: "form-control", 
        style: "width:200px" %>			  
	  <%= submit_tag "Subir", class: "btn btn-warning" %>		
	</div>
	<% end %>

  <h4>
  	Listas existentes
  </h4>
  <table class="table table-striped">
    <tr>
      <th>Nombre</th>
      <th>Proveedor</th>
      <th>Fecha</th>
      <th>Descuento</th>
    </tr>

  
  <% @listas.each do |lista| %>
    <tr>
      <td>
        <%= lista.nombre %>
      </td>
      <td>
        <%= lista.proveedor.nombre %>
      </td>
      <td>
        <%= lista.fecha_precio %>
      </td>
      <td>
        <%= lista.proveedor.descuento %>
      </td>
    </tr>

  <%end%>
  </table>   
  

</body>
</html>

